body {
    font-family: "Helvetica";
    margin: 25px;
    background-color: lightpink;
    text-align: center;
}

.answer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
    padding: 15px;
    width: 25%;
}